#header_about{
  min-height: 300px;
  margin-top: 60px;
  margin-bottom: -60px;
  background-color: var(--secondary_color);
  background-image: url('/img/imgzeloimoeisabout.png');
  background-position: top left;

  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 4rem;
    color: var(--primary_color);
  }
}
#main_about {
  section{
    max-width: 900px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    h2{
      font-size: 2.5rem;
      color: var(--secondary_color);
      text-align: center;
    }
    h3{
      font-size: 2rem;
      color: var(--secondary_color)
    }
    p {
      font-size: 1.8rem;
      text-align: justify;
      line-height: 30px;
    }

  }
}